@model IEnumerable<BlogApplication.Models.Post>

@{
    ViewData["Title"] = "Index";
}


<main>
    <div class="container-fluid px-4">

        <hr style="margin-top:90px" />
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">     <a asp-area="admin" asp-action="create" class="btn btn-sm btn-outline-dark ">Create New</a></li>
        </ol>

        <table class="table" id="datatablesSimple">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Content)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th></th> 
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td 
                            action-route="@item.Id"
                            action-edit="posts"
                            action-delete="posts"
                            action-update="posts"
                            action-create="images" />  
                        @* <td controller-name="posts" model-id="@item.Id" actions /> *@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main> 