@model IEnumerable<UI.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<div class="row mt-5">
    <div class="col p-5 shadow-sm">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NormalizedUserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NormalizedEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailConfirmed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccessFailedCount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NormalizedUserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NormalizedEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailConfirmed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccessFailedCount)
                        </td>
                        <td>
                            @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) | *@
                            @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) | *@
                            @* @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>